// В этом файле должны быть стили для БЭМ-блока rect-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rect-item {
  width: 40%;
  height: 240px;
  margin: 20px;
  flex-grow: 4;

  @media all and (max-width: $screen-md) {
    max-width: 100%;
    width: 420px;
  }

  @media all and (max-width: $screen-sm) {
    width: 420px;
    height: 200px;
  }

  @media all and (max-width: $screen-xs) {
    width: 420px;
    height: 200px;
  }

  @media all and (max-width: $screen-450) {
    margin: 5px;
    width: 100%;
    height: 150px;
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    a {
      color: #e31e4c;
    }
  }

  figure {
    border-radius: 4px;
    width: 100%;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: block;
        width: 100%;
        max-height: 240px;
        height: 100%;
        object-fit: cover;
        object-position: left;
        object-fit: cover;
        // object-position: left top;

        @media all and (max-width: $screen-450) {
          max-height: 150px;
        }

        &:hover {
          filter: blur(1px);
        }
      }
    }

    figcaption {
      background: white;
      text-align: center;
      font-family: MullerBold;
      line-height: 40px;
      font-size: 14px;
      height: 40px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
