// В этом файле должны быть стили для БЭМ-блока marketing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.marketing {

  h1 {
    line-height: 60px;
    font-size: 40px;
    text-transform: none;

    @media all and (max-width: $screen-md) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  .nav-batton {
    a:hover {
      color: $white;

    }
  }

  .main {
    display: flex;
    max-height: 456px;
    height: 100%;

    @media all and (max-width: $screen-sm) {
      .left-side {
        flex-basis: 100%;

        .block-marketing {
          margin: 20px auto;
        }

        .block-cost {
          flex-direction: column;
          width: 70%;
          margin: 0 auto;
        }
      }

      .right-side {
        display: none;
      }

    }


    .left-side {
      flex-basis: 50%;

      .block-marketing {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background: $color-main;
        padding: 65px 0;
        width: 80%;
        min-width: 70%;
        border: 10px solid #D9D9D9;
        margin: 120px 0 70px;
      }

      .block-cost {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        background: $white;
        max-width: 400px;

        .column {
          padding: 20px;

          h5 {
            line-height: 20px;
            font-size: 14px;
            color: #999999;
          }

          p {
            line-height: 30px;
            font-size: 24px;
          }

          h5,
          p {
            white-space: nowrap;
            margin: 0;
          }
        }
      }
    }

    .right-side {
      flex-basis: 50%;

      img {
        height: 100%;
      }

    }
  }

  hr {
    margin: 40px 0;
  }

  .footer {
    display: flex;

    @media all and (max-width: $screen-xs) {
      flex-direction: column;
    }



    .left {
      width: 75%;

      @media all and (max-width: $screen-md) {
        width: 65%;
      }

      @media all and (max-width: $screen-xs) {
        width: 100%;
      }

      p {
        line-height: 24px;
        font-size: 18px;
        margin-top: 0;
      }
    }

    .right {
      width: 25%;

      @media all and (max-width: $screen-xs) {
        width: 100%;
      }

      h6,
      a {
        line-height: 24px;
        font-size: 18px;
        margin: 0;
        display: block;
        white-space: nowrap;

        @media all and (max-width: $screen-md) {
          font-size: 16px;
        }
      }

      a:nth-child(3) {
        margin-top: 10px;
      }

      .decor {
        font-family: $font-mullerbold;
        text-decoration: underline;
      }
    }
  }

}
