// В этом файле должны быть стили для БЭМ-блока routes, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.routes {

  h1 {
    line-height: 60px;
    font-size: 40px;
    text-transform: none;

    @media all and (max-width: $screen-sm) {
      margin: 0;
      font-size: 25px;
      padding: 0;
    }
  }

  .text {
    margin: 40px 0 0;
    line-height: 24px;
    font-size: 18px;

    @media all and (max-width: $screen-sm) {
      margin: 20px 0 0;
    }
  }

  hr {
    border: none;
    height: 1px;
    background: #D8D8D8;
    margin: 40px 0;

    @media all and (max-width: $screen-sm) {
      margin: 20px 0;
    }
  }

  .map {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: $screen-xs) {
      flex-direction: column;

      .right-item {
        margin-top: 20px;
      }
    }

    iframe {
      flex-basis: 70%;
      height: 320px;
    }

    .right-item {
      flex-basis: 26%;

      h2 {
        padding: 0;
        line-height: 24px;
        font-size: 18px;
      }

      button {
        font-family: $font-mullerbold;
        font-size: 18px;
        text-align: center;
        color: $white;
        background: $color-main;
        border-radius: 2px;
        border: none;
        padding: 10px;
        cursor: pointer;
        margin-top: 20px;
      }
    }
  }
}

// #{$block-name}__element {}
