// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {
  h1 {
    font-size: 30px;
    padding-top: 40px;
    text-transform: none;
  }

  iframe {
    width: 100%;
    height: 320px;
  }

  .work-time__department {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;

    .department-item {
      flex-basis: 33%;

      h2,
      p {
        padding: 0;
        margin: 0;
        line-height: 1;
        text-transform: none;
      }
    }
  }

  hr {
    border: none;
    background: #d8d8d8;
    height: 1px;
  }

  .contact-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .contact-item {
      flex-basis: 33%;

      h2,
      p {
        padding: 0;
        margin: 0;
        line-height: 1.4;
      }

      div {
        margin-bottom: 20px;
      }

      button {
        font-family: $font-mullerbold;
        font-size: 18px;
        text-align: center;
        color: $white;
        background: $color-main;
        border-radius: 2px;
        width: 60%;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

// #{$block-name}__element {}
