// В этом файле должны быть стили для БЭМ-блока category-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.category-item {

  figure {
    position: relative;
    text-align: center;
    margin: 5px;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);

      img {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
        opacity: .5;
      }

      figcaption {
        color: $color-main;

      }
    }

    @media all and (max-width: $screen-xs) {
      padding: 0;
      height: 100px;
    }

    @media all and (max-width: $screen-450) {
      width: 100%;
    }
  }

  img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  figcaption {
    position: absolute;
    font-family: $font-mullerbold;
    line-height: 20px;
    font-size: 17px;
    color: $white;
    top: calc(50% - 10px);
    text-align: center;
    left: 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    right: 0;
  }



}

// #{$block-name}__element {}
