// В этом файле должны быть стили для БЭМ-блока news-carowner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-carowner {

  p {
    margin-top: 0;
  }
ul {
  list-style: none;
  padding: 0;
}


  .category {
    justify-content: space-around;

    figcaption {
      display: none;
    }
  }

}
